*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica neue;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    background: #d6b0b0;
}

.card{
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
     padding: 12px;

}

.nav{
    border: 2px solid black;
    padding: 12px;
    justify-content: center;
    color: black;
    background: rgb(183, 183, 202);
    
}