*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica neue;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    background: #111;
}

.card{
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    text-align: center;
    justify-content:center ;

}

p{
    margin: 20px 0;
}

button{
    padding:  15px 23px ;
    background: rgb(233, 230, 225);
    color: #111;
    border: 0px ;
    border-radius : 5px;

}

img{
    width: 100px ;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}