*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica neue;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    background: #111;
}

.card{
    border: 2px solid white;
    box-sizing: border-box;
    
}